In [1]:
import pandas as pd
import numpy as np

In [71]:
baby=pd.read_csv('baby_nlp_final.csv')

In [72]:
tag=pd.read_csv('tag_nlp_final.csv')

In [73]:
baby.head(2)

,Unnamed: 0,reviewerID,asin,overall,reviewTime,helpful_score,reviews,Sentiment_score,Sentiments
0,0,A1HK2FQW6KXQB2,097293751X,5,2013-07-16,0.0,perfect new parent able keep track baby feed s...,0.7579,Extreme Positive
1,1,A19K65VY14D13R,097293751X,5,2013-06-29,0.0,book life saver helpful able go back track tre...,0.3818,Positive

In [74]:
tag.head(2)

,Unnamed: 0,reviewerID,asin,overall,reviewTime,helpful_score,reviews,Sentiment_score,Sentiments
0,0,A1VXOAVRGKGEAK,0439893577,5,2014-01-29,0.0,like item price granddaughter want mark want l...,0.4767,Positive
1,1,A8R62G708TSCM,0439893577,4,2014-03-28,1.0,love magnet easel great move different areas w...,0.9545,Extreme Positive

In [75]:
baby.shape

(159367, 9)

In [76]:
tag.shape

(166666, 9)

In [77]:
baby['count']='Baby'

In [78]:
tag['count']='Toys'

In [79]:
baby.reviewerID.unique().shape

(19437,)

In [80]:
tag.reviewerID.unique().shape

(19400,)

In [10]:
baby.merge(tag,on='reviewerID',how='inner').shape

(593624, 17)

In [81]:
a=[]
for i in baby.reviewerID.unique():
    for j in tag.reviewerID.unique():
        if i==j:
            a.append(i)

In [82]:
len(a)

2979

In [83]:
df5=pd.concat([baby,tag],axis=0)

In [84]:
df6=df5[df5['reviewerID'].isin(a)]

In [89]:
df6.head()

,Unnamed: 0,reviewerID,asin,overall,reviewTime,helpful_score,reviews,Sentiment_score,Sentiments,count
15,15,A2Q2A6JKY95RTP,097293751X,3,2013-10-17,1.0,wife six month old baby boy around month mark ...,0.9892,Extreme Positive,Baby
19,19,A3PGZ7W5NH3S0T,9729375011,5,2014-01-19,0.0,item extremely helpful especially adults share...,0.9736,Extreme Positive,Baby
41,41,A2XDQLKDWBDWAJ,9729375011,5,2014-03-07,0.0,go schedule twin four months old care givers f...,0.9212,Extreme Positive,Baby
42,42,A2BGDV09HCHX8E,9729375011,4,2013-02-04,0.0,inside nice clean columns diaper change amount...,0.9260,Extreme Positive,Baby
43,43,A2PEIERQZR3COP,9729375011,5,2012-03-21,0.0,love app phone baby esp husband realistic some...,0.9783,Extreme Positive,Baby

In [88]:
a=list(df6.reviewerID.unique())
len(a)

2979

In [86]:
#df6.to_csv('problem4.csv')

In [91]:
df7=df6[df6['count']=='Baby']

In [94]:
df7.groupby(['reviewerID']).count().sort_values(by='asin')

,Unnamed: 0,asin,overall,reviewTime,helpful_score,reviews,Sentiment_score,Sentiments,count
reviewerID,,,,,,,,,
A791QXBYPINLM,3,3,3,3,3,3,3,3,3
A56N2JWMYVWDB,3,3,3,3,3,3,3,3,3
A7U3641HUNI86,4,4,4,4,4,4,4,4,4
ARE17OJYCRDPJ,4,4,4,4,4,4,4,4,4
A1W4G8B9BAWR1O,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...
AOEUN9718KVRD,78,78,78,78,78,78,78,78,78
A276OI0NHBYORX,87,87,87,87,87,87,87,87,87
AJGU56YG8G1DQ,88,88,88,88,88,88,88,88,88
AF8SREA2XE7BJ,109,109,109,109,109,109,109,109,109
ARIFCL50JD5SK,124,124,124,124,124,124,124,124,124